version: '3'

services:
   db:
    image: postgres
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: user_db
    ports:
      - "5433:5432"
    volumes:
      - my-db:/var/lib/postgresql/data
    networks:
      demo-net:

   spring-demo:
    build:
      context: ./user
      dockerfile: ./Dockerfile
    container_name: spring-demo
    ports:
      - "8081:8080"
    environment:
      - DB_IP=db
      - DB_PORT=5432
      - DB_DBNAME=user_db
      - DB_USER=postgres
      - DB_PASSWORD=admin
    networks:
      demo-net:
        

volumes:
  my-db:

networks:
  demo-net:
    external: true
